In [1]:
import os
import django

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "quanta.settings")
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [2]:
from apps.orders import models as order_models

In [3]:
import time
from django.db import transaction

In [4]:
import pandas as pd
from datetime import datetime, timedelta
from decimal import Decimal
from django.utils import timezone
from apps.orders.models import (
    Supplier,
    Category,
    Item,
    Batch,
    Organization,
    OrganizationUser,
)

In [5]:
for org in order_models.Organization.objects.all():
    print(org.name, org.id)

MAXIMAL SARL a14eb772-e4ae-40f1-a836-b7216bd30870
Docta Shop a8fbfab1-1cb2-461c-92e4-976dadcafdc3
DATAVITE SARL f017f9fc-cf47-4911-ba27-563151e15607
ELECBI SERVICES 546935a5-7e2f-4a01-ba3d-2d8ded8882ca
Tacynt Digital Agency 966a67f9-65e6-467d-8de8-fb954d2c16f7
Agri Distribution 69393ba2-3fbd-4ca8-a2d8-2e75ff14093d
CANTINE ISSI f438ab3d-5be5-40fd-b5ec-b16d00e32626

In [6]:
data = pd.read_excel("demo/enrolled_students.xlsx", sheet_name="Tablib Dataset")

In [7]:
data.head(n=1)

,Class,Noms,Prénoms,Matricules,Genre,Date de naissance,Lieux de naissance,total_enrollement,total_paid,total_remaining
0,IDE 3 - Jour (2025/2026),ABDELAZIZ,SADATE,ISSI24IDE0028,M,2001-06-26,Douala,410000.0,210000,200000.0

In [8]:
all_data = list(zip(data["Class"], data["Noms"], data["Prénoms"]))

In [9]:
organization = "f438ab3d-5be5-40fd-b5ec-b16d00e32626"
customer_list = []
for kclass, nom, prenom in all_data:
    customer_name =  str(nom) + " " + str(prenom) + "--" + kclass.split(" ")[0]
    customer_list.append(order_models.Customer(
        organization_id=organization,
        name=customer_name
    ))

In [10]:
customers = order_models.Customer.objects.bulk_create(customer_list)